@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}


html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden
}

/* encabezado */

.logoContainer {
    background-image: url(https://images.pexels.com/photos/2736613/pexels-photo-2736613.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #d5d5d5;
}

.logoContainer img {
    padding-left: 38%;
}

/* nav */
nav {
    border-bottom: 2px solid #ebc1c1;
}

nav div ul li {
    list-style-type: none;
    display: inline-block;
    width: 15%;
    padding: 2% 1% 2% 3%;
}

a {
    text-decoration: none;

}

/* fin nav */

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2em;
    padding: 2%;
    font-family: 'Poppins',

}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.1em;
    padding: 2%;
}

p {
    padding: 2%;
    font-size: 1.2rem;
}

.contenedorMain {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 3%;
    border-bottom: 1px solid #d9cbcb;
}

.contenedorMain2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 3%;
    border-bottom: 1px solid #d9cbcb;
}

.nosotros {
    padding-left: 2%;
}

.contenedorMain img {
    width: 50vw;
    height: auto;
    padding-left: 2%;
}



.contenedorMain2 img {
    width: 35vw;
    height: auto;
    padding-left: 2%;
}

.contenedorMain2 .beneficios {
    padding-left: 2%;
}

.contenedorMain2 .beneficios h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(245, 137, 155);
    padding-top: 34%;
}

.yogaTipos {
    padding: 3.4%;
    background-color: #fbb4b447;
}

.contenedorVideos {
    width: 50%;
    height: auto;
    padding: 5% 2% 7% 15%;
    background-color: #ccc;
}

.contenedorVideos video {
    width: 80%;
    height: auto;
}

.contenedorVideos iframe {
    width: 80%;
}


/* cursos */

#cursos {
    background-image: url(../multimedia/backgroundBuda.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


.consultasEInscripciones button {
    border-radius: 30px;
    background-color: rgb(230, 210, 213);
    padding: 4%;
    font-size: 1.2rem;
    margin: 7% 0% 6% 30%;
}

/* footer */

.footer1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
    border-bottom: 1px solid #d9cbcb;
}

footer {
    background-color: rgb(43, 43, 43);
    color: whitesmoke;
}

.footerUbicacion {
    padding: 3% 2% 3% 2%;
}

.mapa {
    width: 35%;
    height: auto;
}

.footerContacto {
    padding: 2%;
}

.footerContacto a {
    color: whitesmoke;
    font-size: 1.5rem;
}

.footerContacto h4 {
    padding-top: 21%;
    font-size: 1.2rem;
}

.redesPieDeNota {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 3% 0;
    justify-content: center;
    flex-direction: row;

}

.redesPieDeNota div h4 {
    text-align: center;
    padding-bottom: 10%;
    font-size: 1.7rem;
    font-family: emoji;
}

.redesPieDeNota .pie {
    width: 100%;
    height: auto;
    padding-left: 7%;
}

/* aca lo otro */


/* Reiki.html */

.slider-container {
    display: flex;
    width: 50%;
    height: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slider-container img {
    flex: 0 0 100%;
    width: 100%;
    /* object-fit: cover; */
    scroll-snap-align: center;
}

.contenedorMain3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}
.listPagPrin{
    /* list-style-image: url('https://drive.google.com/uc?export=view&id=1RrP9A_57RR4MYTTrnUIyLSnj9ss0FEN7'); */
    line-height: 1.3em;
    line-height: 1.5rem;
    padding: 5%;
    width: 50%;
    height: auto;

}
.aside{
    padding: 5%;
    background-color: rgba(255, 228, 196, 0.628);
}
.tableContainer{
    padding-left: 23%;
    background-image: url(https://images.pexels.com/photos/6511323/pexels-photo-6511323.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table{
    width: 35%;
    height: auto;
    background-color: rgba(255, 192, 203, 0.504);
}
.h2Table{
    color: whitesmoke;
}
table tbody{
    background-color: rgb(250, 216, 221);
}
table thead{
    background-color: pink;
}
/* fin */

/* contacto html */
.staff{
    padding: 2%;
}
.staff div{
    width: 50%;
    height: auto;
}
.staff div img{
    width: 30%;
    height: auto;
}

/* Estilos generales para el formulario */
.form{
    background-image: url(https://images.pexels.com/photos/6825335/pexels-photo-6825335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contenedorForm ul li{
    list-style: none;
}
.contenedorForm label{
    font-size: 1.3rem;
}
.contenedorForm form {
    max-width: 40%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos de entrada de texto */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 2%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
} 
/* Estilos para campos de entrada de texto y áreas de texto */
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    opacity: 0.7; 
}

/* Estilos para checkboxes y radios */
input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

/* Estilos para etiquetas de checkboxes y radios */
input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/* Estilos para los checkboxes y radios seleccionados */
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
    content: '\2713'; 
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
} 

/* Estilos para el botón de enviar */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 

button[type="submit"]:hover {
    background-color: #555;
} 
